@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.font-roboto {
  font-family: "Roboto", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #f6dad8;
}
.react-calendar {
  border-radius: 10px;
}

.react-calendar__navigation {
  background: linear-gradient(to right, #f6e5d8, #ac97a5);
  color: #77505e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
